{% extends "base.html" %}
{% block title %} Публикации {% endblock %}
{% block content %}
<div class="row">
{% if posts %}
    {% for post in posts %}
    <div class="col-md-4 blog_post">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{ post.name }}</h5>
            <p class="card-text">{{ post.content }}</p>
          </div>
        </div>
    </div>
    {% endfor %}
{% else %}
    Нет контента
{% endif %}
</div>
{% endblock %}